*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, monospace;
}

header{
  background: #58595A;
  height: 40px;
  text-align: center;
  color: #fff;
}

header span{
  color: rgb(153, 155, 158)
}

.form{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #F4F5F7;
  width: 412px;
  margin: auto;
  margin-top: 82px;
}

.form form{
  display: flex;
  flex-direction: column;
  padding: 50px 94px;
}

.form form input{
  height: 32px;
  border: 1px solid #0079BF;
  border-radius: 3px;
  margin: 8px 0;
  padding-left: 10px;
}

.form form button{
  height: 32px;
  margin: 10px 68px 20px;
  background: #5AAC44;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.form form a{
  text-align: center;
  text-decoration: none;
  color: #0079BF;
}